language: node_js
node_js:
  - "node"

after_script:
  - npm install gitbook-cli -g
  - gitbook install
  - gitbook build 
  - grunt minify
  - git init
  - git config user.name "${USER_NAME}"
  - git config user.email "${USER_EMAIL}"
  - git add .  
  - touch README 
  - git add README 
  - git commit -m "publish gitbook"
  - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:${BRANCH}
   
branches:
  only:
    - master
